body {background-color: #ffffff;
  padding: 0;
  font: 15px/1.8 Arial, Helvetica,sans-serif;
  margin: 0;
  line-height: 1.5;}

  /*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {margin:0;
  padding:0; 
 }

.button_1{
  height:38px;
  background:#4457ac;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  border-radius:7px;
  cursor:pointer;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
}

.button_1:hover, .button_2:hover { background-color: #000000;
  color: #ffffff;

  }

.button_2{
  height:38px;
  background:#4457ac;
  border:0;
  padding-left: 10px;
  padding-right:10px;
  color:#ffffff;
  border-radius:7px;
  cursor:pointer;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
}

.dark{
  padding:15px;
  background: rgba(177, 197, 238, 0.3);
  color:#000000;
  margin-top:80px;
  margin-bottom:10px;
}

/*Header*/
header #branding {
  font-family: Ruda; 
  float:left;
 }

header #branding h1{
  margin:0;
}

header{background-color: #cacdd3;
  color: #000000;
  min-height: 70px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #4457ac;
  padding-top: 30px;}

header a {color:#ffffff;
          text-decoration: none;
          font-size:16px;
          text-transform: uppercase;
          }

header a:hover{
  font-weight: bold;
  color: #c3d3e7ee;}

header li{
  float: left;
  display: inline;
  padding: 0px 20px 0 20px;
  font-family: Arial, Helvetica, sans-serif}

header nav {float: right;
            margin-top: 10px; }

header .highlight{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #current .button_1{
  color:#fcfcfd;
  font-weight:bold;
  background-color: #000000;
  }

.welcome {
  text-align:center;
  padding-top: 30px;
  font-family: Ruda;
  font-size: 50px;
  }

#showcase{
  min-height:400px;
  background:url('/img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;}

  /* Main-col */
  article#main-col{
  float: left;
  width:50%;}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#4457ac;
  color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}
   /*Side bar*/
    aside#sidebar{
    float:right;
    width:40%;
    margin-top:0px;}

    /*SIGN IN*/
section#signin{
  width:40%;
}

section#signin .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px; }
    /*footer*/
.bold{font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;}
.udacity{font-family: "Special+Elite", cursive;
font-size: 13px;}


footer{
  font-family: Ruda;
  font-size: 18px;
  color:rgb(0, 0, 0);
  background-color: #cacdd3;
  position: relative;
  top: 100px;
  text-align:center;
  padding: 10px;
}


footer ul {margin:0;
          padding:0;}

footer li{
  font-size: 16px;
  padding: 0px 20px 0px 20px;
  display: flow-root;
  font-family: Times, 'Times New Roman', serif;
}

footer a{
  text-decoration: none;
  color:#e3e9f0;
}

.fa-facebook{
      background:#000000;
      color: white;
    }

.fa-instagram {
  background:#000000;
  color: #ffffff;
}

.fa-twitter { background:#000000;
      color: white;}

.fa-github {background: #000000;
    color: white;}

.fa{-webkit-transition-duration:
  0.5s;
  transition-duration: 0.7s;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-decoration: none;
  margin: 3px 1px;
  border-radius: 50%;} 

.fa:hover{
  color:#ffffff;
  background: #3c4880
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }

  .button_1, header nav li, .button_2{
    padding: 0px 3px 0px 3px;
    font-size: 12px;
    margin-left:0px;
   }

  section#sidebar{
    text-align: center;
    width:100%;
    margin-top:10px;
  }

  /*sign in*/
  section#signin{ 
  width:100%;
  }
  
}
