.welcome {
  text-align:center;
  padding-top: 50px;
  font-family: Ruda;
  font-size: 50px;
 }

img.bg {
  width: 100%;
  filter: brightness(.7);
  margin: 10vh 0 5vh;
  height: 70vh;
  object-fit: cover;
  object-position: 0 -5rem;
  border-radius: 20px;
}


